name: tests

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        environment: [test]
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.58.0
          environments: ${{ matrix.environment }}
          frozen: true

      - name: run tests
        run: pixi run -e ${{ matrix.environment }} test
